<?xml version="1.0" encoding="UTF-8"?>
<Settings>
	<entry>
		<meta>DEBUG</meta>
		<value>true</value>
	</entry>
	<entry>
		<meta>EXPORTALL</meta>
		<value>true</value>
	</entry>
	<entry>
		<meta>NIMBUS</meta>
		<value>true</value>
	</entry>
	<entry>
		<meta>HOST_IP</meta>
		<value>localhost</value>
	</entry>
	<entry>
		<meta>HOST_PORT</meta>
		<value>10101</value>
	</entry>
</Settings>