<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<entry>
		<meta>DEBUG</meta>
		<value>true</value>
	</entry>
	<entry>
		<meta>HOST_IP</meta>
		<value>localhost</value>
	</entry>
	<entry>
		<meta>HOST_PORT</meta>
		<value>10101</value>
	</entry>
	<entry>
		<meta>AUTO_LOGIN</meta>
		<value>true</value>
	</entry>
	<entry>
		<meta>NIMBUS</meta>
		<value>true</value>
	</entry>
	<entry>
		<meta>USERNAME</meta>
		<value>dan</value>
	</entry>
	<entry>
		<meta>PASSWORD</meta>
		<value>pass</value>
	</entry>
</settings>